<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true" />

  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find r150_description)/urdf/r150_real_world.urdf.xacro" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!--load map file-->
  <include file="$(find r150_ndt_localizer)/launch/map_loader.launch" />

  <!-- Points Downsample-->
  <include file="$(find r150_ndt_localizer)/launch/points_downsample.launch" />

  <!-- NDT Matching-->
  <include file="$(find r150_ndt_localizer)/launch/ndt_matching.launch" />

  <!-- rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r150_bringup)/rviz/planning.rviz" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar" args="0 0 1.238 0 0 0 1 base_link velodyne" />

</launch>
