<launch>
  <param name="/use_sim_time" value="false" />
	
  <arg name="model" />
  <arg name="gui" default="False" />
  <param name="robot_description" textfile="$(find r150_description)/urdf/r150.urdf.xacro" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" clear_params="true">
      <rosparam file="$(find r150_description)/config/fake_r150_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="cam_to_camera" args="0 0 0 0 0 0 1 cam_Link5 camera_link" />
 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r150_description)/rviz/default.rviz" />
  
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name   = "default_topic" value  = "/cmd_vel"/>
  </node>
</launch>
